<h1>Login</h1>

<h3><%= flash[:notice] %></h3>

<%= form_tag login_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :name %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %>


<h2><%=link_to("Are you a New User?", new_user_path)%></h2>
