<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-sm-7">

    <img src="/subway_car_2.jpg" alt="" class="img-responsive img-rounded">



  </div>

  <div class="col-6 col-md-4">
    <div class="input-control">


      <h3><%= flash[:notice] %></h3>


      <h1>Login</h1>
      <%= form_tag login_path do %>
      <br>
      <%= label_tag :username %>
      <%= text_field_tag :name, nil,  class:"form-control" %>
      <br>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class:"form-control"%>

        <br>
      <%= submit_tag "Login", class:"btn btn-success btn-block"  %>
      <br>
      <% end %>
      <%= button_to "Sign Up", new_user_path, method: :get, class: "btn btn-info btn-block" %>
      <br>
      <div class="panel-group panel-group-block text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <h5><a data-toggle="collapse" href="#collapse1">Forgot Password?</a></h5>
            </h6>
          </div>
          <div id= "collapse1" class="panel-collapse collapse">
            <div class="panel-body">That Sucks Harder Than The MTA</div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
