  <h1>NEW USER</h1>


<%= form_for @user do |f| %>
  <p><%= @user.errors.count %> prevented signup</p>

  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>

  <%= f.label :username %>
  <%= f.text_field :name %>
<br>
  <%= f.label :password %>
  <%= f.text_field :password %>
<br>
  <%= f.label "Profile Picture URL" %>
  <%= f.text_field :photo %>
<br>
  <%= f.submit %>

<% end %>
