<h1>Profile Page for <%= @user.name %></h1>

<h3><%= flash[:notice] %></h3>


 <%= image_tag @user.photo %>

  <h4>Specific Station Complaints</h4>
  <ul>
  <% @user.station_complaints.each do |sc|%>
    <li><%= sc.station.name%> - <%= link_to sc.title, station_complaint_path(sc) %> <%= sc.created_at.strftime("%m/%d/%Y at %l:%M:%S %p") %></li>
  <% end %>
  </ul>

  <h4>Train Line Complaints</h4>
  <ul>
  <% @user.train_complaints.each do |tc|%>
    <li><%= tc.train.line%> - <%= link_to tc.title, train_complaint_path(tc) %> <%= tc.created_at.strftime("%m/%d/%Y at %l:%M:%S %p") %></li>
    
  <% end %>
  </ul>


  <%= button_to "New Station Complaint", new_station_complaint_path, method: :get%>
  <%= button_to "New Train Complaint", new_train_complaint_path, method: :get%>

<br>

<% if current_user.id == @user.id %>
  <hr>
  <%= button_to "Delete Account", @user, method: :delete %>
  <br>
  <%= button_to "Edit Account", edit_user_path(@user), method: :get %>
  <br>
<% end %>

<%= link_to "Back to All Users", users_path %>
