<h1>Complaint for the <%= link_to("#{@train_complaint.train.line} Line", train_path(@train_complaint.train))%></h1>
<h2>User: <%= link_to @train_complaint.user.name, user_path(@train_complaint.user) %></h2>

  <h3>Title:</h3>
  <%= @train_complaint.title  %>
  <br>
  <br>
  <h3>Description:</h3>
  <p><%= @train_complaint.description %></p>
  <h3>Created at:</h3>
  <p><%= @train_complaint.created_at.strftime("%m/%d/%Y at %l:%M:%S %p") %></p>
