<h1>show page for <%= link_to @station_complaint.station.name, station_path(@station_complaint.station) %></h1>


  <ul>

  <li>
  Title: <%= @station_complaint.title  %>
  <br>
  <p>Description: <%= @station_complaint.description %></p>
  <p>created by: <%= link_to @station_complaint.user.name, user_path(@station_complaint.user) %></p>
  <p>Created at:  <%= @station_complaint.created_at %></p>
  </li>
</ul>
