<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" id="logo" href="">Alpha Blog</a> -->
      <%= link_to "MTA Complaints", root_path, class: "navbar-brand", id: "logo" %>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">



        <%if current_user  %>
          <li><%= link_to "#{current_user.name}'s Profile", user_path(current_user) %></li>
        <%end %>

        <li><%= link_to "Stations", stations_path %></li>
        <li><%= link_to "Trains", trains_path %></li>
        <li><%= link_to "Users",users_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><%= link_to "Station Complaint", new_station_complaint_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Train Complaint", new_train_complaint_path %></li>
          </ul>
        </li>  
      </ul>

      <ul class="nav navbar-nav navbar-right">


        <!--only show the logout button if the user is logged in  -->
        <% if logged_in? %>
          <li>
            <%= button_to("Logout", logout_path, {method: :delete, class: "btn btn-default navbar-btn"}) %>

          </li>
        <% end %>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
